#modal-bg{
    display: grid;
    place-items: center;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    padding-top: 100px;
    background-color: black;
    background-color: rgba(0, 0, 0, 0.8);
    -webkit-transition: 0.5s;
    /*overflow: auto;*/
    transition: all 0.3s linear;
}

#modal-content{
    display: grid;
    height: 80vh;
    width: 90vw;
    top: 10vh;
    left: 5vw;
    background: var(--bg-gradient), var(--bg-img);
    background-color: var(--bg) !important;
    color: var(--fcolor) !important;
    z-index: 400;
    position: absolute;
    box-shadow: var(--box-shadow1);
    place-items: center;
    font-family: 'Poppins', sans-serif;
    overflow: auto;
    //padding-right: 5vw;

    a{
        text-decoration: none;
        color: var(--fcolor) !important;
        font-family: 'Poppins', sans-serif;
    }

    a:hover{
        color: var(--hover-bg) !important;
    }

    h2{
        margin-block: 0;
        margin-inline: 0 0;
        text-align: center;
        padding: 2vh;
    }

    button{
        max-width: max-content;
        height: min-content;
        background: var(--card-gradient), var(--card-bg);
        background-color: var(--card-bg2);
        color: var(--text);
        border: none;
        font-family: 'Poppins', sans-serif;
        font-size: 1.3em;
        //padding: 5vh;
    }

    li{
        padding-bottom: 5vh;

        img{
            max-width: 25vw;
            height: auto;
            padding-right: 4vw;
        }
    }
}

#socialMedia{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.manualVidDesktop{
    max-width: 55vw;
    height: auto;
    display: block;
    margin: auto;
}

#buttonContainer{
    padding: 5vh;
}

.list-item > img{
    padding-right: 2vw;
}

.list-item > a {
    font-size: 1.1em;
}

#utilities{
    padding-top: 5vh;
}

.changesVid{
    max-width: 25vw;
    height: auto;
    padding-right: 4vw;
}

@media only screen and (max-width: 900px){
    #modal-content{
        top: 5vh;

        li{

            img{
                max-width: 60vw;
                padding-top: 3vh;
            }
        }
    }

    .changesVid{
        max-width: 60vw;
        height: auto;
        padding-right: 4vw;
        padding-top: 3vh;
        display: block;
    }
}