@import 'navegacion';

.default{
    --background-color: blanchedalmond;
    --foreground-color: #73ca9c;
}

.default2{
    --background-color: #73ca9c;
    --foreground-color: blanchedalmond;
}

body{
    background-color: var(--background-color);
    overflow: hidden;
    margin: 0 0 0 0;
}

#root{
    padding-top: 1vh;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: grid;
    /*row-gap: 1vh;*/
    grid-template-areas:
    "contenido"
    "navegacion";
    justify-content: center;
}

#pagina{
    background-color: var(--foreground-color);
    grid-area: contenido;
    width: 95vw;
    /*background-color: var(--background-color);*/
    display: grid;
    /*padding: 20px;*/
    height: 83vh;
    grid-template-areas: 
    " titulo titulo"
    "controles ."
    "main main";
    grid-template-rows: 15% 17% auto;
}

#main-content{
    padding-left: 5vw;
    padding-right: 5vw;
    display: grid;
    overflow-y: auto;
    grid-area: main;
    grid-template-areas:
    "datos miscelaneos";
    grid-template-columns: 60% auto;
    column-gap: 2vw;
}

#fotoPerfil{
    max-width: 15%;
}

#titulo{
    grid-area: titulo;
    overflow: hidden;
    text-align: center;
    vertical-align: 50%;
    /*width: 20vw;*/
    justify-content: center;
    display: grid;
}

#titulo > h1 {
    border: 2.5px solid var(--background-color);
    padding-left: 0.5vw;
    padding-right: 0.5vh;
}

#controles{
    grid-area: controles;
    overflow: hidden;
    padding-left: 5vw;
}

#clases{
    grid-area: datos;
    padding-bottom: 4vh;
}

#datos{
    border: 1px solid var(--background-color);
    border-collapse: collapse;
}

#datos > tbody > tr > td {
    border: 1px solid var(--background-color);
    padding: 0 0 0 0;
    display: table-cell;
    width: 33%;
    justify-content: center;
}

#datos > tbody > tr > td > input {
    width: 95%;
    text-align: center;
    background-color: transparent;
    border: 0;
}

#lateral{
    grid-area: miscelaneos;
    padding-bottom: 4vh;
}

input {
    -moz-appearance:textfield;
}

input::-webkit-inner-spin-button, 
input::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

@media only screen and (max-width: 600px){
    #pagina{
        grid-template-areas: 
        "titulo"
        "controles"
        "main";
        grid-template-rows: 15% 17% auto;
    }

    #main-content{
        grid-template-areas:
        "datos"
        "miscelaneos";
        grid-template-columns: 100%;
        row-gap: 2vw;
    }
}