@import 'temas';
@import 'scrollbar';
@import 'pagina';
@import 'navegacion';
@import 'modal';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Glegoo&display=swap');

body{
    transition: 0.8s;
    background: var(--bg-gradient), var(--bg-img);
    background-color: var(--bg) !important;
    color: var(--fcolor) !important;
    overflow: hidden;
    margin: 0 0 0 0;
    font-family: 'Glegoo', serif;
}

#root{
    /*padding-top: 1vh;*/
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: grid;
    row-gap: 1vh;
    grid-template-areas:
    "contenido"
    "navegacion";
    justify-content: center;
}

#contenedor-pagina{
    grid-area: contenido;
    height: 85vh;
    width: 95vw;
    margin-top: 1.5vh;
    display: grid;
}

input {
    -moz-appearance:textfield;
}

input::-webkit-inner-spin-button, 
input::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

button:hover{
    cursor: pointer;
}

@media only screen and (max-width: 600px){
    #root{
        height: 99vh;
        bottom: 0vh;
    }

    #contenedor-pagina{
        grid-area: contenido;
        height: 85vh;
        width: 95vw;
        margin-top: 1.5vh;
        display: grid;
        /*overflow: auto;*/
    }

    #pagina{
        //height: 85vh !important;
        grid-template-areas:
            "titulo"
            "controles"
            "main";
        bottom: 4.5vh !important;
        grid-template-rows: auto auto auto;
        overflow: auto !important;
    }

    #titulo{
        h1{
            max-width: 70%;
            margin-bottom: 0;
        }
        overflow: visible;
    }

    #controles{
        grid-template-areas:
        "mensaje"
        "spinner"
        "cambios";
        max-width: 100%;
        place-items: center;
        grid-template-columns: 100%;
        padding-right: 6vw;
        text-align: center;
        padding: 1vh 0;
        overflow: visible;

        h4{
            height: min-content;
            margin-bottom: 0;
            margin-top: 0;
        }
        
        div{
            grid-area: spinner;
            width: 90%;
        }
        p{
            grid-area: cambios;
            margin: 0 0 0 0;
        }
    }

    #tabla-spinner{
        width: 55%;

        tbody{
            tr{
                td{
                    padding: 0;
                }
            }
        }
    }

    #contenidoClases{
        width: 20vw;
    }

    #main-content{
        grid-template-areas:
        "datos"
        "miscelaneos";
        grid-template-columns: 100%;
        row-gap: 2vh;
        overflow-y: visible;
    }

    #lateral{
        display: grid;
        place-items: center;
        text-align: center;
        grid-template-areas:
        "resultados"
        "tema";
        grid-template-columns: 100%;
        row-gap: 2.5vh;
    }

    #temaActual {
        max-width: 45%;
    }

    #navbar-desktop{
        display: none;
    }

    #navbar-mobile{
        display: grid;
        /*grid-area: navegacion;*/
        grid-template-areas:
        "logo indice actual";
        grid-template-columns: 20% 40% auto;
    }

    #logo img {
        max-width: 75%;
    }
}

@media only screen and (min-width: 601px) and (max-width: 900px) {
    #root{
        grid-template-rows: auto 10%;
    }

    #navbar-desktop{
        height: 8vh;
    }

    #pagina{
        //height: 88vh;
        grid-template-areas: 
        "titulo"
        "controles"
        "main";
        grid-template-rows: 18% auto auto;
    }

    #controles{
        width: 80vw;
    }

    #temaActual{
        max-width: 90%;
    }

    #contenidoClases{
        width: 6vw;
    }
}